@import '../../styles/shared.scss';

.coursePlanner {
  @include position-100(relative);
  display: flex;
  flex-direction: column;

  .boardContainer {
    position: relative;
    display: flex;
    justify-content: flex-start;
    height: 50%;
    width: 100%;
    overflow-x: scroll;
  }

  .courseSelection {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    flex-grow: 1;

    .addCourses {
      @include box(100%);
      @include flex-center;
      flex-direction: column;

      .buttonContainer {
        $inputWidth: px(300);
        @include box(80%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input {
          width: $inputWidth;
          height: px(50);
          margin-bottom: px(10);
          text-indent: px(10);
          border: solid 1px;
          border-color: $tan;
          border-radius: px(5);
          color: $grey;
          background-color: transparent;
        }

        button {
          width: $inputWidth;
          height: px(50);
          color: $beige;
          background-color: $tan;
          border-radius: px(5);
        }

        .newSemester {
          margin-bottom: px(30);
        }
      }
    }

    .unassignedCourseList {
      @include flex-center;
      flex-direction: column;

      .boardContainer {
        @include box(80%);
      }
    }
  }
}
