@import '../../styles/shared.scss';

.Landing {
  @include position-100(fixed);
  @include flex-center;
  flex-direction: column;
  background-color: $white;

  h1,
  p,
  img {
    padding-bottom: px(30);
  }

  .planningSVG {
    width: px(300);
    height: px(300);
  }

  .links {
    @include flex-center;
    margin-top: px(10);
    height: px(50);
    width: px(300);
    color: $white;
    background-color: $green;
    border-radius: px(5);
  }
}
