@import '../styles/shared.scss';

.Landing {
  @include position-100(fixed);
  @include flex-center;
  flex-direction: column;
  background-color: $beige;

  .links {
    @include flex-center;
    margin-top: px(50);
    height: px(50);
    width: px(300);
    color: $white;
    background-color: $pink;
    border-radius: px(5);
  }
}
