@import '../../styles/shared.scss';

.userLogin {
  $inputWidth: px(300);

  @include position-100(relative);
  @include flex-center;

  .logInContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: px(30);
    border-radius: 20px;
    box-shadow: $softBoxShadow;

    h2 {
      color: $black;
      margin-bottom: 25px;
    }

    .loginSVG {
      width: px(200);
      height: px(150);
      padding-bottom: 10px;
    }

    input {
      width: $inputWidth;
      height: px(50);
      margin-bottom: px(15);
      text-indent: px(10);
      border: solid 1px;
      border-color: $tan;
      border-radius: px(5);
      color: $black;
      background-color: transparent;
    }

    .submit {
      width: $inputWidth;
      height: px(50);
      color: $white;
      background-color: $green;
      border-radius: px(5);
    }

    .links {
      color: $green;
    }
  }

  @include breakpoint(desktopSm) {
    $inputWidth: px(500);

    h2 {
      top: px(150);
    }

    input {
      width: $inputWidth;
      height: px(50);
      margin-bottom: px(30);
    }

    .submit {
      width: $inputWidth;
    }
  }
}
