@import '../../styles/shared.scss';

.card {
  position: relative;
  @include flex-center;
  width: 100%;
  height: px(50);
  margin-bottom: px(15);
  padding: px(15);
  border-radius: px(5);
  background-color: $pink;
  cursor: pointer;

  .delete {
    position: absolute;
    @include flex-center;
    width: px(15);
    height: px(30);
    right: px(15);

    svg {
      @include box(100%);
    }
  }
}
