@import '../../styles/shared.scss';

.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: $tileLength;
  margin-bottom: px(15);
  padding: px(20);
  border-radius: px(5);
  background-color: $white;
  cursor: pointer;

  .title {
    display: flex;
    align-items: center;

    img {
      padding-right: 10px;
    }
  }
}
