@import '../../styles/shared.scss';

.assigned,
.unassigned {
  flex-shrink: 0;
  border-radius: px(10);
  padding: px(10);
  background-color: $grey;
  overflow-y: scroll;
}

.assigned {
  height: 100%;
  margin: 0 px(15);
  .tileContainer {
    @include flex-center-vert;
    flex-direction: column;
    width: $tileLength;
  }
}

.unassigned {
  margin: px(20);
  .tileContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: px(10);
    row-gap: px(10);
    .delete {
      display: none;
    }
  }
}

.semesterHeaders {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: px(20) 0;
}
