@import '../../styles/shared.scss';

.assigned,
.unassigned {
  flex-shrink: 0;
  border-radius: px(5);
  padding: px(10);
  background-color: $tan;
  overflow-y: scroll;

  .delete {
    position: absolute;
    bottom: px(50);
    background-color: $red;
  }
}

.assigned {
  @include flex-center-vert;
  flex-direction: column;
  width: px(300);
  margin: px(15);
}

.unassigned {
  @include box(100%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: px(10);
  row-gap: px(10);
  grid-auto-rows: px(50);
  .delete {
    display: none;
  }
}
