@import '../../styles/shared.scss';

.board {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: px(300);
  margin: px(15);
  border-radius: px(5);
  background-color: $tan;
  overflow-y: scroll;
}
