@import '../../styles/shared.scss';

.courses {
  @include position-100(fixed);
  background-color: $white;

  .coursePlannerContainer {
    position: relative;
    height: calc(100% - #{$navbar-height-mobile});
  }
}
